{{> layout/header}}

<div class="container">
    <table class="table table-hover offer-table scroll" style="text-align: center; border-top:2px solid #ddd">
        <br>
        <h2>상품 목록</h2>
        <br>

        <thead>
        <tr>
            <th class="center-align col-1">No</th>
            <th class="center-align col-5">상품명</th>
            <th class="center-align col-2">상품가격</th>
            <th class="center-align col-2">상품수량</th>
            <th class="center-align col-2">상세보기</th>
        </tr>
        </thead>

            <tbody>
            <tr class="offer-table">
                <th scope="row">1</th>
                <td>상품명</td>
                <td>상품가격</td>
                <td>상품수량</td>
                <td>
                    <div class="new-create-button">
                        <form action="/product/1/detail">
                            <button type="submit" class="btn btn-outline-primary">상세보기</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>

    </table>
</div>

<div style="margin-bottom: 25%"></div>
{{> layout/footer}}